@charset UTF-8;

/*pseudo-classe - vai servir para o projeto inteiro*/
:root {
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fab66;
--cor4: #1a5c37;
--cor5: #053d1e;
--fonte0: Arial, Helvetica, sans-serif;
--fonte1: 'Bebas Neue', cursive;
--fonte2: 'Android', sans-serif; 
}

body {
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}

